The Purpose of this application was to build on my knowledge of Object oriented programming fundamentals.
===================================================================

Building a Customer Management System - ECM

Requirements Scenario:
	Building a new crm system to handle an increased number of users.

The system must:

1. Manage business, residential, government and educator types of customers.
2. manage our products
3. accept orders from customers online or through a call center.


//new problem. Data from third party is passing data without spaces in product names.
// need to add spaces before each capital letter in the string.

CLASSES:
	Customer:
	// The LastName and EmailAddress are required fields.
		FirstName,
		LastName,
		Email address, (only need to track one)
		Home address, (Separate address into its own class)
		Work address.
		Validate()

	Address:
		Street line 1
		Street line 2
		City
		State/Province
		Postal Code
		Country
		Address Type
		Validate().

	Product:
		Product name,
		Description,
		Current price.
		Validate().

	Order:
		Customer,
		Order date,
		Shipping address,
		Order Items(a list?).
		Validate().


	CustomerRepository:
		Retrieve(),
		Save().

	ProductRepository:
		Retrieve(),
		Save().

	OrderRepository:
		Retrieve(),
		Save().

	AddressRepository:
		Retrieve(),
		Save().

	Order Item:
		Product,
		Quantity,
		Purchase Price.
		Validate().




